.markerCustom {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid rgb(var(--bg3));
    color: rgb(var(--txtOnBg));
    background-color: rgb(var(--bg1));
    transform: translateX(-50%) translateY(-100%);
    transition: all 0.3s ease-out, top 0s, left 0s, right 0s, bottom 0s;
}

.markerCustom:hover {
    box-shadow: 0px 0px 10px 5px rgb(var(--secondary));
}

.markerCustom::after {
    content: "";
    position: absolute;
    top: 87%;
    height: 10px;
    width: 10px;
    border-bottom: 1px solid rgb(var(--bg3));
    border-right: 1px solid rgb(var(--bg3));
    background-color: rgb(var(--bg1));
    rotate: 45deg;
    transition: all 0.3s ease-out;
}

.markerCustom.active {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    width: clamp(300px, 75vw, 600px);
    max-width: 95vw;
    max-height: 40vh;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 5px rgba(var(--bg1), 0.2);
    cursor: auto;
    overflow: auto;
}
.markerCustom.active::after {
    content: none;
}

.active .buttonClose {
    display: inline-flex;
}

.active .icon {
    align-self: center;
    font-size: 2rem;
}

.active .section {
    display: flex;
}
